/* Navigation section */
#navbar{
    flex-direction: column;
    /* height: 57px; */
    transition: all 0.5s ease-out;
}
#navbar ul{
    flex-direction: column;
}
#navbar::before{
    height: 57px;
}
#navbar li a{
    margin-top: 4px;
    padding: 2px 6px;
    font-size: 0.85rem;
}
#logo img{
    height: 42px;
    width: 40px;
    margin: 5px 42px;
}

#logo h3{
    margin: 0px 8px;
    font-size: 1 rem;
}

input{
    display: none;
}
/* Hamburger menu */
.burger{
    display: block;
}
.nav-height{
    height: 57px;
}
.nav-resp-menu{
    opacity: 0;
}
#search-icon{
    visibility: hidden;
}

/* Home section */
#home{
    height: 250px;
    padding: 3px 30px;
    overflow: hidden;
}
#home p{
    font-size: 0.85rem;
}
#home::before{
    height: 335px;
}

/* Body Section */
#body{
    margin: 40px auto;
    height: 340px;
}

#left{
    height: 250px;
    width: 40%;
    top: 40;
    left: 5px;
}

#right{
    height:330px;
    right: 5px;
}
.Content{
    padding-left: 115px;
    padding-right: 6px;
}
.Content p{
    padding: 10px;
    font-size: 0.8rem;
}

#p2{
    display: none;
}

/* Service section */
#services{
    flex-direction: column;
}

.box{
    height: 185px;
    width: 230px;
    margin: 10px;
    padding: 10px;
    box-shadow: 6px 6px 3px rgb(150, 144, 144);
}
.box a{
    margin: 2px;
    padding: 6px;
    font-size: 0.9rem;
}
.box p{
    font-size: 0.85rem;
}
/* Membership section */
#Membership-container{
    overflow: hidden;
}
#Membership-container::before{
    height: 460px;
}
#contact-box {
    padding: 3px;
    height: 325px;
}
#contact-box input{
    margin-bottom: 6px;
    padding: 2px;
    font-size: 0.8rem;
}
#contact-box label{
    font-size: 1rem;
}
.form{
    width: 260px;
    padding: 6px;
}
/* Footer section */
footer{
    font-size: 1rem;
    height: 70px;
}

#icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 0px;
    margin-top: 35px;
}
#Insta-icon{
    margin: 0px 5px;
}
/* Utility classes */
.h1-primary{
    font-size: 1.4rem;
    padding: 8px;
    text-shadow: 2px 2px 2px rgb(150, 144, 144);
}

.h2-secondary{
    padding: 8px 5px;
    font-size: 0.96rem;
}

.h3-Third{
    font-size: 0.95rem;
}
.btn{
    font-family: 'Sarabun', sans-serif;
    padding: 6px 18px;
    margin: 8px;
    font-size: 1rem;
    border-radius: 13px;
    cursor: pointer;
}